@model SWP391_MiniStore.Models.Domain.StoreStaff

@{
    ViewData["Title"] = "StaffProfile";
}

<h1>StaffProfile</h1>

<div>
    <h4>StoreStaff</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Username)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Username)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dob)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dob)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StaffRole)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StaffRole)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HourlyRate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HourlyRate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StaffStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StaffStatus)
        </dd>
    </dl>
</div>
<div>
    <a asp-controller="Home" asp-action="Edit" asp-route-id="@Model?.StaffID">Edit</a> |
    <a asp-controller="Home" asp-action="Index">Back to List</a>
</div>
